.title-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
}

.about__header,
.lots__header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: normal;
  text-transform: uppercase;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

.header {
  padding: 90px 50px 94px 46px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  list-style: circle;
  display: flex;
  justify-content: start;
  gap: 29px;
}

.header__links-list-item {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: normal;
  text-indent: 3.5px;
}

.header__links-list-item-active {
  list-style: none;
}

.header__link {
  list-style: none;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  text-decoration: none;
  border-bottom: none;
}

.header__logo {
  padding-top: 0px;
}

.header-logo__image {
  width: 135px;
  height: 107px;
}

.address {
  text-decoration: none;
}

.header__address {
  padding-right: 35px;
  max-width: 240px;
  justify-self: end;
}

.address a {
  text-decoration: none;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: normal;
  border-bottom: 1px black solid;
}

.address p {
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: normal;
  text-wrap: nowrap;
}

.cover {
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 180px;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
  z-index: 1;
}

.cover__title {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 21px;
  position: relative;
  z-index: 2;
}

.aligned-text {
  justify-self: start;
}

.aligned-text_center {
  justify-self: center;
  margin-left: 30px;
}

.aligned-text_right {
  justify-self: end;
  display: block;
  text-align: right;
  margin-right: -0.3em;
}

.cover__description {
  margin-top: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  word-spacing: 18.5px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
}

.bet-button {
  background: transparent;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  padding: 0px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 120px;
}

.lots__header {
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-licorice-pizza {
  background-image: url("../images/card-lot-01.jpg");
}

.card-book-cover-foreigner {
  background-image: url("../images/card-lot-02.jpg");
}

.card-abstract-cover {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__link {
  text-decoration: none;
}

.card__content__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffffff;
  z-index: 2;
}

.card__content__text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: normal;
  color: #ffffff;
  z-index: 2;
}

.lots__more {
  text-decoration: none;
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: normal;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  border-bottom: 1px solid black;
}

.about {
  display: flex;
  gap: 72px;
  padding: 2px 0px 0px 47px;
  margin-bottom: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.about__logo {
  margin: 0;
  margin-top: 35px;
}

.about__logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.logo_white {
  width: 148px;
  height: 114px;
}

.about__article {
  padding-top: 3px;
  margin-top: 133px;
}

.about__header {
  margin-bottom: 100px;
}

.about__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__paragraphs p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 82px;
}

.footer-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding-top: 2px;
}

.menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px black solid;
}

.menu-link-active {
  border-bottom: none;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
}

.footer__socials img {
  width: 48px;
  height: 48px;
}